<div class="row">
    <h3>FireCSV</h3>
    <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Ver CSV</a>
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Archivo</h4>
                </div>
                <div class="modal-body">
                    <input type="text" v-model="path">
                    <button @click="leer()">Leer</button>
                    <table id="csv-tabla" class="table table-bordered table-responsive small" style="background-color: white">Init</table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Beneficiarios</h3>
            <beneficiario v-for="(b, index) in listaBeneficiarios" :key="index" :b="b"></beneficiario>
            
        </div>
    </div>
    

    
    
</div>